@media all and (max-width: 2800px){
    .service{
        height: 250px;
    }
    h6{
        font-size: 20px;
    }
    .service-img{
        height: 50px;
    }
    p{
        font: 18px;
    }
    .section-three{
        height: 1040px;
    }
    .section-three .section{
        margin: 278px auto;
    }

}
@media all and (max-width: 1200px){
    h1{
        font-size: 3rem;
    }
    .section-three{
        height: 1070px;
    }
    .section-three .section{
        margin: 250px auto;
    }
}

@media all and (max-width: 1000px){
    .menu-nav{
        display: none;
    }
    .mobile-container{
        display: block;
    }
    .service{
        width: 45%;
        margin-bottom: 5%;
    }
    .cart{
        width: 45%;
        margin-bottom: 5%;
    }
    .section-three{
        height: 1500px;
    }
    .section-three .section{
        margin: 150px auto;
    }
    .footer-section{
        display: block;
    }
}
@media all and (max-width: 400px){
    button{
        font-size: 20px;
    }
    .service{
        width: 100%;
        margin-bottom: 5%;
    }
    .cart{
        width: 100%;
        margin-bottom: 5%;
    }
    .section-three{
        height: 1900px;
    }
    .section-three .section{
        margin: 150px auto;
    }
    .section-description{
        width: 100%;
    }
    .form-inputs{
        flex-direction: column;
    }
    .form-inputs input{
        width: 100%;
        margin-bottom: 3%;
    }
}